mixin dropdown(params= {initial_value: "", items: [], visible: false, clearBtn: false, controlBtns: false})
  -
    let listClassName = "dropdown__list"
    listClassName += params.visible ? " dropdown__list_visible" : ""
    let clearBtnClassName = "dropdown__clear"
    clearBtnClassName +=params.clearBtn ? " dropdown__clear_visible" : ""
  .dropdown
    button.dropdown__button= params.initial_value
    ul(class = listClassName)
      each item in params.items
        li.dropdown__item
          span.dropdown__prop= item
          .dropdown__prop-counter 
            button&attributes({class: "dropdown__decrement-button", disabled: ""}) 
            div&attributes({class: "dropdown__prop-count", "data-property": `${item}`}) 0
            button.dropdown__increment-button
      if params.controlBtns      
        li.dropdown__item_controlling
          span(class = clearBtnClassName) очистить
          span.dropdown__apply применить       
      

