extends ../../pug/templates/base
include ../../components/text-field/text-field
include ../../components/heading/heading

block variables
  - let title = "Form Elements"
  - let keywords = "UI Kit, basic elements"
  - let descr = "Form Elements page"

block content
  .form-elements__wrapper
    .text-field__wrapper 
      +heading({title: "text field", prop: "default"})
      +text-field({type: "text",name: "email", placeholder: "Email"})
    .text-field__wrapper 
      +heading({title: "text field", prop: "hover / focus"})
      +text-field({type: "text",name: "email", placeholder: "This is pretty awesome", focused: "true"})  