@use '../../styles/base/mixins' as m;
@use '../../styles/base/variables' as v;

.colors-type__wrapper {
  display: flex;
  column-gap: 415px;
  margin-top: 97px;
  margin-bottom: 145px;
}
.colors-block {
    width: 100%;
    max-width: 281.26px;
    min-width: 281.26px;
    margin-left: 149.74px;
    &__item {
      display: flex;
      margin-bottom: 20px;
      column-gap: 40px;
      &:last-child { 
        margin-bottom: 0px;
       }
    }
    &__sample {
      width: 70px;
      height: 70px;
      border-radius: 6px;
      &_darkshade100 {
        background-color: v.$dark100;
      }
      &_darkshade75 {
        background-color: v.$dark75;
      }
      &_darkshade50 {
        background-color: v.$dark50;
      }
      &_darkshade25 {
        background-color: v.$dark25;
      }
      &_darkshade5 {
        background-color: v.$dark5;
      }
      &_purple {
        background-color: v.$purple;
      }
      &_green {
        background-color: v.$green;
      }
    }
    &__descr {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &__name {
      @include m.subtitle;
    }
    &__number {
      font-weight: 400;
      font-size: 19px;
      padding-top: 4px;
    }
  }

.fonts {
  &-block {
    width: 100%;
    max-width: 436px;
    min-width: 436px;
    width: 30.2%;
    margin-right: 158px;
    &__item {
      display: flex;
      column-gap: 30px;
      margin-bottom: 51px;
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(3) {
        margin-bottom: 49px;
      }
    }
    &__sample {
      width: 100%;
      max-width: 37px;
      display: flex;
      justify-content: flex-end;
      color: v.$dark25;
      &_fs24 {
        font-size: 24px;
        line-height: 29.26px;
      }
      &_fs19 {
        font-size: 19px;
      }
      &_fs12 {
        font-size: 12px;
        line-height: 15.63px;
      }
      &_fs14 {
        font-size: 14px;
        line-height: 23px;
      }
    }
    &__descr {
      &_title {
        @include m.title;
        line-height: 29.26px;
      }
      &_subtitle {
        @include m.subtitle;
        line-height: 23.16px;
      }
      &_label {
        @include m.label;
        line-height: 15.63px;
      }
      &_regular {
        @include m.regular;
        line-height: 23px;
        width: 100%;
        max-width: 301px;
      }
    }
  }
  
}
.foot {
  height: 145px;
}