@use '../../styles/base/mixins' as m;
@use '../../styles/base/variables' as v;

.heading {
  display: flex;
  justify-content: space-between;
  &_large {
    @include m.max-width-l;
  }
  &_medium {
    @include m.max-width-m;
  }
  &_small {
    @include m.max-width-s;
  }
  &__title {
    @include m.label;
  }
  &__prop {
    @include m.label;
    font-weight: 400;
    color: v.$dark50;
  }
}