@use '../../styles/base/mixins' as m;
@use '../../styles/base/variables' as v;

.heading {
  display: flex;
  justify-content: space-between;
  &__title {
    @include m.label;
  }
  &__prop {
    @include m.label;
    font-weight: 400;
    color: v.$dark50;
  }
}