mixin heading(params= {title: "", prop: "", size: ""})
  -
    const {title, prop, size} = params
    let headingClassName = "heading"
    switch(size){
      case "large":
        headingClassName += " heading_large";
        break;
      case "medium":
        headingClassName += " heading_medium";
        break;
      case "small":
        headingClassName += " heading_small";
        break;
    }

  div(class = headingClassName) 
    span.heading__title= title
    if (params.prop)
      span.heading__prop= prop
    