extends ../../pug/templates/base
include ../../components/heading/heading

block variables
  - let title = "Form Elements"
  - let keywords = "UI Kit, basic elements"
  - let descr = "Form Elements page"

block content
  +heading({title: "text field", prop: "default"})
  +heading({title: "text field", prop: "default"})
  +heading({title: "text field", prop: "default"})