extends ../../../pug/templates/base
include ../../../pug/libs/libs

block variables
  - let title = "Toxin hotel"
  - let keywords = "toxin,hotel,booking"
  - let descr = "booking rooms in toxin hotel "

block content
  .container
    include ./components/header/header 