extends pug/templates/base
include pug/libs/libs

block variables
  - let title = "Toxin hotel"
  - let keywords = "toxin,hotel,booking"
  - let descr = "booking rooms in toxin hotel "

block content
  .container
    include ./components/header/header 
    //- +image('logo', 'png')
        //- h1.container__title Hello 
        //- +image('work1')
        //- .container__block