@use '../../styles/base';

.text-field {
  width: 320px;
  height: 44px;
  &__input {
    @include base.m-border;
    @include base.m-regular;
    width: 100%;
    line-height: 18px;
    padding: 13px 0 13px 15px;
    &::placeholder {
      color: base.$dark25;
    }
  }
}