mixin text-field(params = {type: "", name: "", placeholder: "", focused: false, masked: false})
  -
    const {type, name, placeholder, focused, masked} = params
    let inputClassName = "text-field__input"
    inputClassName += focused ? " text-field__input_focused" : ""
    inputClassName += masked ? " text-field__input_masked" : ""
  form.text-field
    input&attributes({class: inputClassName, type, name, placeholder})
    