// @use '../../styles/base';
@use '../../styles/base/mixins' as m;
@use '../../styles/base/variables' as v;
// @use '../../styles/base/mixins';
// @use '../../styles/base/fonts';

.text-field {
  width: 100%;
  max-width: 320px;
  &__input {
    @include m.border;
    width: 100%;
    height: 44px;
    line-height: 18px;
    padding: 13px 91px 13px 15px;
    text-align: left;
    cursor: pointer;
    &::placeholder {
      color: v.$dark25;
    }
    &_focused, &:hover, &:focus {
      color: v.$dark75;
      border-color: v.$dark50;
      outline: none;
      &::placeholder {
        color: v.$dark50;
      }
    }
  }
}