@use './variables' as v;

@mixin title {
  font-weight: 700;
  font-size: 24px;
  color: v.$dark100;
  // line-height: 29.26px;
}

@mixin subtitle {
  font-weight: 700;
  font-size: 19px;
  color: v.$dark100;
  // line-height: 23.16px;
}

@mixin label {
  font-weight: 700;
  font-size: 12px;
  color: v.$dark100;
  // line-height: 15.63px; // PP по C&t
  // line-height: 14.63px; //по макету решить какой оставить исправить в color type
  text-transform: uppercase;
}

@mixin regular{
  font-weight: 400;
  font-size: 14px;
  color: v.$dark75;
  // line-height: 24px; //по макету
  // line-height: 23px; //PP по C&t
}

@mixin border {
  border: 1px solid v.$dark25;
  border-radius: 4px; 
}
@mixin focused-border {
  color: v.$dark75;
  border-color: v.$dark50;
  outline: none;
}
@mixin circle-with-minus($width) {
  width: $width;
  height: $width;
  border: 1px solid v.$dark25;
  border-radius: $width/2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 2px;
    background-color: v.$dark25;
  }
}

@mixin circle-with-plus($width) {
  width: $width;
  height: $width;
  border: 1px solid v.$dark25;
  border-radius: $width/2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 2px;
    background-color: v.$dark25;
    transform: translateX(-40%);
  }
  &::before {
    content: "";
    display: inline-block;
    width: 7px;
    height: 2px;
    background-color: v.$dark25;
    transform: translateX(60%) rotate(90deg)
  }
}